<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Trabajo Teoría parte 2</title>
    <link rel="stylesheet" href="style.css" type="text/css">
  </head>
  <body>
    <div  class="container">
    <form  action="index.html" method="post">
      <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1 style="color: white">Login</h1>
            </div>
            <div class="login-form">
                <div class="control-group">
      <label class="login-field-icon fui-user" for ="username"> Username </label>
      <input class ="login-field" value="" placeholder="username" type ="text" id="username" name="username" required>
    </div>
                    <div class="control-group">

      <label for="password"> Password </label>
      <input type="password" id="password" name="password" required>
      </div>
      <input type ="submit" value ="Submit">
    </div>
    </div>

    </form>
    </div>
  </body>
</html>
