<meta charset="utf-8">
<title>Trabajo Teoría parte 2</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">

{% block body %}
  {% if session['logged_in'] %}
    You're logged in already!
  {% else %}
    <a class="btn nologin" href="/newuser">New account</a>
    <div  class="container">
      <form  action="/login" method="post">
        <div class="login">
          <div class="login-screen">
            <div class="app-title">
              <h1 style="color: white">Login</h1>
            </div>

            <div class="login-form">
              <div class="control-group">
                <label for ="username"> Username </label>
                <input class ="login-field" value="" placeholder="username" type ="text" id="username" name="username" required>
              </div>

              <div class="control-group">
                <label for="password"> Password </label>
                <input class ="login-field" value="" placeholder="password" type="password" id="password" name="password" required>
              </div>

              <br/>
              <input class="btn" type ="submit" value ="Submit">
            </div>
          </div>
        </div>
      </form>
    </div>
  {% endif %}
{% endblock %}
