<meta charset="utf-8">
<title>New user</title>
<link rel="stylesheet" href="../static/style.css" type="text/css">
<script type="text/javascript" src="../static/functions.js"></script>

{% block body %}
    <div  class="container">
      <form  action="index.html" method="post">
        <div class="login">
          <div class="login-screen">
            <div class="app-title">
              <h1 style="color: white">Create new account</h1>
            </div>
            <div class="login-form">
              <div class="control-group">
                <label for ="username"> Username </label>
                <input class ="login-field" value="" placeholder="Username" type ="text" id="username" name="username" required>
              </div>
              <div class="control-group">
                <label for="password"> Password </label>
                <input class ="login-field" value="" placeholder="Password" type="password" id="password" name="password" required>
              </div>

              <br/>

              <div class="control-group">
                <label for="IsAdmin"> Is administrator?</label>
                <input type="checkbox" onclick="myFunction()" id="IsAdmin" name="IsAdmin" value="IsAdmin">
              </div>

              <br/>

              <div class="control-group" id="admin" style="display:none">
                <label for="passwordadmin"> Validation password </label>
                <input class ="login-field" value="" placeholder="Validation password" type="password" id="passwordadmin" name="passwordadmin" required>

                <br/>
              </div>

              <input type ="submit" value ="Add user" class="btn">
            </div>
          </div>
        </div>
      </form>
    </div>
{% endbody %}
